<main ng-controller="TodoCtrl">
    <p><b>Pesquisar</b></p>
    <input type="text" ng-model="name" />
    <div ng-show="loading">
      <loading msg="Carregando"></loading>
    </div>

    <div id="pesquisar" ng-repeat="task in tasks | filter:name | orderBy: 'name'">
      {{task._id}} {{task.name}}
      <button ng-click="delete(task._id)">Excluir</button>
    </div>

    <p><b>Cadastrar</b></p>
    <input type="text" ng-model="task.name" />
    <button ng-click="save(task)">Cadastrar</button>
</main>
